body
  background-color: #111
  color: #fafafa
  font-family: Inconsolata
  font-size: 16px
  a
    color: inherit
    cursor: pointer

::-webkit-scrollbar
  width: 0

#app
  padding: 20px 10%
  display: flex
  .left
    flex: 1
  .right
    padding-left: 20px
    flex: 1

#tools
  display: flex
  button, input
    flex: 1
    border: 1px solid #fafafa
    color: #fafafa
    box-sizing: border-box
    cursor: pointer
    background: #111
    height: 32px
    line-height: 32px
    &:hover
      background: #333
  input
    overflow: hidden
    &::-webkit-file-upload-button
      visibility: hidden

#canvasWrapper
  position: relative
  font-size: 0
  border: 1px solid #fafafa
  box-sizing: border-box
#cursor
  position: absolute
  display: none
  pointer-events: none
#canvas
  //cursor: none
  width: 100%
  image-rendering: pixelated
#palette, nav
  margin: 20px 0
  display: flex
  border: 1px solid #fafafa
  box-sizing: border-box
  span
    position: relative
    cursor: pointer
    flex: 10
    height: 32px


// prevent drag
//*, *::after, *::before
//  -webkit-user-select: none
//  -webkit-user-drag: none
//  -webkit-app-region: no-drag
//  cursor: default
